<!DOCTYPE html>
<html lang="en" style="background-image: url('/imgs/sea_tile.jpeg');  background-size: tile;">">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/imgs/favicon-32x32.png">    
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/css/mystyles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
</head>

  <body>
    <div style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.9); z-index: -1; "></div>
    <%- include('navbar') %>
    <section class="section">
      <h1 class="main-title">About</h1>
    </section>
    <section>
        <div class="container">
            <section class="is-ancestor">
                <div class="is-80">
      
      <div>
        <h2 class="title">Benefits of a Simple Emotion Tracking App</h2>
        <p>
          Tracking your emotions can provide valuable insights into your mental
          well-being over time. By regularly logging your emotions, you can
          identify patterns, triggers, and trends in your mood, allowing you to
          better understand yourself and your emotional responses. This
          self-awareness can help you make positive changes to your lifestyle,
          manage stress more effectively, and improve your overall emotional
          health.
        </p>
      </div>
      <div>
        <br>
        <h3 class="subtitle">1. Enjoyment</h2>
        <p>
          Enjoyment is characterized by feelings of joy, contentment, and
          satisfaction.
        </p>
      </div>
      <div>
        <br>
        <h3 class="subtitle">2. Sadness</h2>
        <p>
          Sadness is characterized by feelings of sorrow, grief, and melancholy.
        </p>
      </div>
      <div>
        <br>
        <h3 class="subtitle">3. Anger</h2>
        <p>
          Anger is characterized by feelings of frustration, irritation, and
          rage.
        </p>
      </div>
      <div>
        <br>
        <h3 class="subtitle">4. Fear</h2>
        <p>
          Fear is characterized by feelings of anxiety, apprehension, and
          unease.
        </p>
      </div>
      <div>
        <br>
        <h3 class="subtitle">5. Surprise</h2>
        <p>
          Surprise is characterized by feelings of astonishment, amazement, and
          disbelief.
        </p>
      </div>
      <div>
        <br>
        <h3 class="subtitle">6. Disgust</h2>
        <p>
          Disgust is characterized by feelings of revulsion, aversion, and
          repugnance.
        </p>
      </div>
      <div>
        <br>
        <h3 class="subtitle">7. Contempt</h2>
        <p>
          Contempt is characterized by feelings of scorn, disdain, and
          disrespect.
        </p>
      </div>
    </div>
</section>
</div>
    </section>
  </body>
</html>
