<!DOCTYPE html>
<html lang="en" style="background-image: url('/imgs/sea_tile.jpeg');  background-size: tile;">">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Favourites</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/imgs/favicon-32x32.png"> 
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/mystyles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
</head>

<body>
    <div style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.3); z-index: -1; "></div>
    <%- include('navbar') %>
    <section class="section">
        <h1 class="main-title" style="z-index: 1;">Mood Tracker</h1>
    </section>
    <section class="section section-form">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class='title'>Login</h1>
                    <form action="/login" method="post">
                        <div class="field">
                            <label class="label" for="username-input">Enter your username:<span id="message"></span></label>
                        
                            <div class="control">
                                <input class="input" name="username" type="text" placeholder="Username" id="username-input">
                            </div>
                            </div>
                            <div class="field">
                            <label class="label" for="userpass-input">Enter your password:</label>
                            <div class="control">
                                <input class="input" name="userpass" type="password" placeholder="Password" id="userpass-input">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button class="button mybutton" type="submit" >Login</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="column">
                    <h1 class="title">Register</h1>
                    <form action="/register" method="post">
                        <div class="field">
                            <label class="label" for="username">Username:<span id="message"></span></label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Choose a username" id="username" name="username" required>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="password">Password:</label>
                            <div class="control">
                                <input class="input" type="password" placeholder="Choose a passowrd" id="password" name="password" required>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button class="button mybutton" type="submit">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <% if (error) { %>
    <script>
        const msg = ' <%= error %>';
        $('#message').html(msg)
            .css('color', 'red')
            .show()
            .fadeOut(3000);
    </script>
    <% } %>

    <script>
        $("#login-form").submit((event) => {
            const regex = /^[a-zA-Z]+$/;
            const msg = ' Username must be alphabetic!!';
            var currentUsername = $('#username-input').val();
            if (regex.test(currentUsername) == false) {
                $('#message').html(msg)
                    .css('color', 'red')
                    .show()
                    .fadeOut(3000);
                event.preventDefault();
            }
        });
    </script>

</body>
</html>
