<%- include('template', { pageTitle: 'Login' }) %>
<section class="section">
    <div>
        <div class="section">
        <h1 class='main-title'>Login here:</h1>
        </div>
        <div class = "section">
        <%- include('loginForm', { formId: 'loginForm' })%>
        </div>
    </div>
</div>

   

</section>




</body>
</html>
   