<nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a <% if (isLoggedIn) { %>href="/allSnapshots"<% } else { %>href="/" <% } %> class="navbar-item">
            <img src="/imgs/wellbeing_icon.png" alt="Wellbeing Icon" width="30" height="30" style="margin-top: auto; margin-bottom: auto;">
        </a>
    </div>
  
    <div class="navbar-menu is-active">
        <div class="navbar-start">
            <% if (isLoggedIn && currentPage !== '/allsnapshots' && currentPage!= '/register' ) { %>
                <a class="navbar-item is-hoverable" href="/allsnapshots">Mood Overview</a>
            <% } %>
            <% if (currentPage !== '/newsnapshot' && currentPage !== '/login'&& currentPage!= '/register') { %>
                <a class="navbar-item is-hoverable" href="/newsnapshot">Add Snapshot</a>
            <% } %>
            <% if (currentPage !== '/editfav' && currentPage !== '/login'&& currentPage!= '/register' ) { %>
                <a class="navbar-item is-hoverable" href="/editfav">Edit Favourites</a>
            <% } %>
        </div>
    
        <div class="navbar-end">
            <% if (!isLoggedIn && currentPage !== '/login') { %>
                <a class="navbar-item is-hoverable" href="/login">Login</a>
            <% } else if (currentPage !== '/login'){ %>
                <a class="navbar-item is-hoverable" href="/logout">Logout</a>
            <% } else { %>
                <a class="navbar-item is-hoverable" href="/register">Register</a>
            <% } %>
        </div>
    </div>
</nav>
