<%- include('template', { pageTitle: 'Register' }) %>


<section class="section">
    <div>
        <div class="section">
        <h1 class='main-title'>Register for mood tracker here:</h1>
        </div>
        <div class = "section">
            <%- include('registerForm', { formId: 'registerForm' }) %>
        </div>
    </div>
</div>

   

</section>




</body>
</html>